# Build directories
build/

# Binaries
bin/

# Object files
*.o

# Dependency files
*.d

# CMake files
*.cmake
CMakeCache.txt
Makefile
cmake_install.cmake

# Logs and temporary files
*.marks
*.log

# IDE specific files
.idea/
.vscode/